@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @ViewBag.company <br/>
    @ViewBag.location <br/>
    @ViewBag.count <br/>
    @ViewBag.arch <br/>
    @ViewBag.noOfProcessor <br/>
    @ViewBag.title <br/>
    @ViewBag.duration <br/>
    @ViewBag.status <br/>
    @ViewBag.t <br/>
    @ViewBag.d <br/>
    @ViewBag.s <br/>
</div>
